# **1. A Simple Calculator**

In [ ]:

while True:
  first_num = float(input("Enter the first no:"))
  second_num = float(input("Enter the second no:"))
  operation = input("Enter the operation: 1. for addition 2.for subtraction 3. for multiplication 4. for division")
  if (operation != '1') and (operation != '2') and (operation !='3') and (operation !='4'):
    print("invalid operation! Please try again!")
  elif( operation == '2'):
      print("The subtraction of ",first_num,'and',second_num,"is:",first_num-second_num)
  elif( operation == '3'):
    print("The multiplication of ",first_num,'and',second_num,"is:",first_num*second_num)
  elif( operation == '4'):
    print("The division of ",first_num,'and',second_num,"is:",first_num/second_num)
  else:
    print("The addition of ",first_num,'and',second_num,"is:",first_num+second_num)
  next_calculation = input("Another Calculation? (yes/no)")
  if next_calculation == 'no':
      break
else:
  print("Invalid input")

Enter the first no:3
Enter the second no:2
Enter the operation: 1. for addition 2.for subtraction 3. for multiplication 4. for division1
The addition of  3.0 and 2.0 is: 5.0
Another Calculation? (yes/no)no

# 2. **Write a program to find Area of Rectangle & Circle.**

In [ ]:
pi = 3.14
length_rectangle = float(input("Enter the lenght of Rectangle in m:"))
breadth_rectangle = float(input("Enter the breadth of Rectangle in m:"))
area_rectangle = length_rectangle * breadth_rectangle
radius_circle = float(input("Enter the radius of Circle in m:"))
area_circle = pi*(radius_circle ** 2)
print ("The are of rectangle is",area_rectangle,"sqm and the area of circle is",area_circle,"sqm")

Enter the lenght of Rectangle in m:5
Enter the breadth of Rectangle in m:4
Enter the radius of Circle in m:6
The are of rectangle is 20.0 sqm and the area of circle is 113.04 sqm

# **3. Write a program to explain mutability in List and Tuple.**

In [ ]:
# List
my_list = [1,2,3,'one','two','three','four']

# modifying a list
my_list[0] = 5
print(my_list)

my_list[4] = 'seven'
print(my_list)

my_list.append('ten')
print(my_list)

my_list.remove('ten')
print(my_list)

# hence list is mutable


# Tuple

my_tuple = (1,2,3,'one','two','three','four')

# modifying a tuple

my_tuple[0] = 5
print(my_tuple) #error


my_tuple.append('ten')
print(my_tuple) #error

my_tuple.remove('two')
print(my_tuple) #error


#In all the above cases it throws error, so tuple is not mutable.

# **4. Write a program to make conversion from List to Tuple & Float to Integer & vice-versa.**

In [ ]:
# creating a list
my_list = [1,2,3,'one','two','three']
print(my_list)
print(type(my_list))

# converting from list to tuple
my_tuple = tuple(my_list)
print(my_tuple)
print(type(my_tuple))

# Float to integer
num = 3.0
print(num)
print(type(num))

int_num = int(num)
print(int_num)
print(type(int_num))

# integer to float
fl_num = float(int_num)
print(fl_num)
print(type(fl_num))

[1, 2, 3, 'one', 'two', 'three']
<class 'list'>
(1, 2, 3, 'one', 'two', 'three')
<class 'tuple'>
3.0
<class 'float'>
3
<class 'int'>
3.0
<class 'float'>