#Python Introduction and Basics

#### Interpreter vs Compiler
#### print method - end, sep, flush, file
#### Comments - single line comment, multiline comment
#### Strings -

1.   Anything inside quotes(single quotes, double quotes, triple quotes)
2.   triple quoted string works as a string or as a multiline comment

In [ ]:
print("hello world") #first program

hello world

In [ ]:
!python --version #terminal command to check python version on google colab

Python 3.10.12

In [ ]:
#Interpreter vs Compiler

#Interpreter - line by line translation
#compiler - all program at once


#python - interpreter language
#Clanguage - compiler language

In [ ]:
print("Hello")

Hello
9
bye

In [ ]:
print("Hello" + "Hi" + "bye")
print("hi")

HelloHibye
hi

In [ ]:
print("What is your name?", end=" ") #this is a comment

#Here this string is workings as a mulitline comment
"""this is
multiline
commment"""

print("Adam")

What is your name? Adam

In [ ]:
# Here this string is working as proper string
"""this is
multiline
commment"""

'this is \nmultiline\ncommment'

In [ ]:
"hi" #string

'hi'

In [ ]:
print('hi') #single quotes
print("bye") #double quotes
print('''see you''') #single triple quotes or triple single quotes
print("""again""")  #double triple quotes or triple double quotes

hi
bye
see you
again

In [ ]:
34+23 #numbers - integers (int)

57

In [ ]:
print(34+"12")

TypeError: ignored

### Any operation like addition, mulitplication will work differently depending upon the datatype

### type() - With the help of type() function we can check the datatype
### len() - With the help of len() function we can check len of datatype

1.   Numerical datatypes don't have any length. len() will not work here.




#### String operations


1.   Concatenation (+) - This will merge the strings together. Requires all operands to be of string datatype.
2.   Multiplication(*) - This will multiply the string term with numerical term. Requires string data and numerical datatypes.

#### Numerical operations


1.   Addition
2.   Subtraction
3.   Multiplication
4.   Division

In [ ]:
#Concatenation of strings
print("34"+"43")
print("ab"+"cd")

3443
abcd

In [ ]:
#Multiplication on strings
print(2 * 3 * "a")

aaaaaa

In [ ]:
#Addition
print(45+23)

68

In [ ]:
print(type(60))

<class 'int'>

In [ ]:
print(type("60"))

<class 'str'>

In [ ]:
type("/@adfjkfasd678678")

str

In [ ]:
type(314143)

int

In [ ]:
type(4.6)

float

In [ ]:
len("abcd234234@ .")

13

In [ ]:
len(12)

TypeError: ignored

##Variables


1.   Variables are containers which stores actual data
2.   Variables assume the datatype of the stored value
     eg:-  
    `num = 23 (integer variable)`

    `name = "abc" (string variable)`

In [ ]:
number1 = 78 #using assignment operator here
number2 = 100

In [ ]:
name = "Adam"
age = 30

In [ ]:
#using variables

number1 + age

108

### Variable naming conventions/standard/rules


(A-z, 0-9, and _) are used to create variable name.

exercise :- Learn about different naming conventions used in different programming languages? Camel Case, Snake Case etc.


https://visualgit.readthedocs.io/en/latest/pages/naming_convention.html


https://www.w3schools.com/python/python_variables_names.asp

In [ ]:
1name = 78 #cannot start variable name with a number

In [ ]:
n1ame = 32

In [ ]:
@name = 32 #variable names cannot contains special characters exept underscore(_)

In [ ]:
_nmec = 23

In [ ]:
First_Name = "Ram"

In [ ]:
luck = 23
Luck = 50

In [ ]:
"luck" == "luck"

True

#keywords are special words that are used in python for special purposes.
https://www.w3schools.com/python/python_ref_keywords.asp



`type = 78 # wrong, avoid using these special words as variable names`

`print_my_name = "adf"`

In [ ]:
and = 234

SyntaxError: ignored

#Assigning values to variables

In [ ]:
a = 1
b = 2
c = 3

In [ ]:
print(a,b,c)

1 2 3

In [ ]:
c = "hi"
d = "bye"
e = "soon"

In [ ]:
print(c , d , e)

hi bye soon

In [ ]:
ab, cd, ef = 23, "tell", 23
print(ab,cd,ef)

23 tell 23

In [ ]:
my_name = "Amit"
print(my_name)

Amit

In [ ]:
my_name = "Akash"
print(my_name)

Akash

In [ ]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [ ]:
first_name = "Adam"
second_name = "Eve"
print(first_name +" "+ second_name) #usin space string

Adam Eve

In [ ]:
print(len(" "))  #even space has string datatype and length 1
print(type(" "))

1
<class 'str'>

In [ ]:
print(len("")) #empty string
print(type(""))

0
<class 'str'>

Exercise:-


1.   Take the input from the user using input function and store it in a variable.
2.   print the value from the variable and check its length and datatype.