In [ ]:
print("Hello World")

Hello World

In [ ]:
type("hello world")

str

In [ ]:
print("I am new to python!")
# It is possible to write within my code blocks without Python using
""" Using a multiline
comment here!"""

I am new to python!

' Using a multiline\ncomment here!'

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
'''This is a sigle line comment'''

'This is a sigle line comment'

In [ ]:
"This is a sigle line comment"

'This is a sigle line comment'

In [ ]:
name = "Krishna Shankar"
print(name)
age=23
print(age)

Krishna Shankar
23

In [ ]:
name1 = input("What is your name?")
age = input("What is your age?")
print("hey,",name1,"I am glad you started learning python at the age of",age,".")

What is your name?Krishna
What is your age?23
hey, Krishna I am glad you started learning python at the age of 23 .

In [ ]:
x=7
type(x)

int

In [ ]:
x=3.14
type(x)

float

In [ ]:
python_string = "TECH I.S. is awesome!"
type(python_string)
print(python_string)
python_string = "hi"
print(python_string)

TECH I.S. is awesome!
hi

In [ ]:
discount= 43.8
height =143
address = "#301, Pelican Street"
print(type(discount))
print(type(height))
print(type(address))

<class 'float'>
<class 'int'>
<class 'str'>

In [ ]:
list1 = [1,"1","x",3.14]
print(list1)
print(type(list1))

[1, '1', 'x', 3.14]
<class 'list'>

In [ ]:
tuple1 =5,11,'a',2.86
print(tuple1)
print(type(tuple1))

(5, 11, 'a', 2.86)
<class 'tuple'>

In [ ]:
my_favs= ["black","biryani","Banglaore"]
print(my_favs)

['black', 'biryani', 'Banglaore']

List of lists

In [ ]:
color = ["blue","black","orange"]
food = ["biryani", "dosa", "rice dal"]
place=["delhi","bangalore"]
myfavs =[color,food,place]
print(myfavs)

[['blue', 'black', 'orange'], ['biryani', 'dosa', 'rice dal'], ['delhi', 'bangalore']]

In [ ]:
range_example = range(7)
print(range_example)
print(len(range_example))
type(range_example)

range(0, 7)
7

range

In [ ]:
range_example = range(0,20,2)
print(range_example)
print(len(range_example))
type(range_example)

range(0, 20, 2)
10

range

In [ ]:
check_range = range(4,40)
print(len(check_range))

36

In [ ]:
b={"one":1, "two":2,"three":3}
print(b)
type(b)

{'one': 1, 'two': 2, 'three': 3}

dict

In [ ]:
student1 = {"name":"jake","score":70}
student2 = {"name":"Mako","score":75}
student3 = {"name":"Alex","score":78.5}
print(student1, student2,student3)

{'name': 'jake', 'score': 70} {'name': 'Mako', 'score': 75} {'name': 'Alex', 'score': 78.5}

In [ ]:
a = True
b = False
print(type(a),type(b))

<class 'bool'> <class 'bool'>

In [ ]:
set_of_numbers = {0,9,1,1,2,5}
print(set_of_numbers)

{0, 1, 2, 5, 9}

In [ ]:
names2 = ["olivia","caleb","olivia"]
print(names2)
names_set = set(names2)#converted to set
print(names_set)#printed as set
unique_names = list(names_set)#converting to list
print(unique_names)#printed as list

['olivia', 'caleb', 'olivia']
{'olivia', 'caleb'}
['olivia', 'caleb']

In [ ]:
x = 5
y = 2.0
z = -13

In [ ]:
print(x+y)#int+float = float

7.0

In [ ]:
print(x-y)#int-float = float

3.0

In [ ]:
print(x*y)#int*float = float

10.0

In [ ]:
print(x/y)#int/float= float

2.5

In [ ]:
print(x//y)# quotient or floor division
print(13//6)
print(14//6)
print(18//6)

2.0
2
2
3

In [ ]:
print(x%y) #modulus or remainder
print(18%6)
print(14%6)

1.0
0
2

In [ ]:
print(abs(z))
print(abs(-0.0013))

13
0.0013

In [ ]:
print(x**y)

25.0

In [ ]:
print(round(2.1))

2

In [ ]:
print(round(2.6))

3

In [ ]:
print(bin(37))
print(bin(40))
print(bin(5))

0b100101
0b101000
0b101

In [ ]:
print(hex(37))
print(hex(4))
print(hex(109))

0x25
0x4
0x6d

In [ ]:
pi = 3.14
radius = 3.0
area = pi*(radius**2)
print(area)

28.26

In [ ]:
a = True
print (not a)

False

In [ ]:
i=3
j=7
print(i>j)

False

In [ ]:
i=3
j=3
print(i != j)

False

In [ ]:
a = True
b = True
print (a and b)

True

In [ ]:
a = False
b = True
print (a and b)

False

In [ ]:
a = False
b = False
print( a and b)

False

Exercise  10
Create a print function for our circle area generator to check if the area is between 20 AND 50

In [ ]:
pi = 3.14
radius = 10.0
area = pi*(radius**2)
if ( area >=20 and area <=50):
  print (area)

In [ ]:
y=1
y +=3
print(y)

4

In [ ]:
y -=4
print(y)

0

In [ ]:
y=2
y*=5
print(y)

10

In [ ]:
y /= 2
print(y)

5.0

In [ ]:
y += 7
y //= 2
print(y)

3.0

Here x //= 3
     x = x//3

In [ ]:
y %= 5
print(y)

3.0