In [ ]:
x = '50'
print(x)
print(type(x))


y= int(x)
print(y)
print(type(y))

z=2020
print(type(z))
z=str(z)
print(type(z))

50
<class 'str'>
50
<class 'int'>
<class 'int'>
<class 'str'>

In [ ]:
new_list = ["olivia","kaseem","caleb","olivia","owen","olivia"]
print(new_list)
print(type(new_list))

new_set = set(new_list)
print(new_set)
print(type(new_set))

['olivia', 'kaseem', 'caleb', 'olivia', 'owen', 'olivia']
<class 'list'>
{'olivia', 'caleb', 'kaseem', 'owen'}
<class 'set'>

In [ ]:
new_set = {'kaseem','olivia','caleb','owen'}
print(new_set)
print(type(new_set))

new_list = list(new_set)
print(new_list)
print(type(new_list))

{'olivia', 'caleb', 'kaseem', 'owen'}
<class 'set'>
['olivia', 'caleb', 'kaseem', 'owen']
<class 'list'>

In [ ]:
num = 7
print(type(num))
num = str(num)
print(type(num))

<class 'int'>
<class 'str'>

In [ ]:
discount = "3.77"
print(type(discount))
discount = float(discount)
print(type(discount))

<class 'str'>
<class 'float'>

In [ ]:
grocery = "egg", "milk", 'mango'
print(type(grocery))
grocery = list(grocery)
print(type(grocery))

<class 'tuple'>
<class 'list'>

In [ ]:
x = 5
y = 5

if x == y:
  print('x and y equal')

x and y equal

In [ ]:
x =5
y =6

if x == y:
  print('x and y are equal')
else:
  print('x and y are not equal')

x and y are not equal

In [ ]:
x = 6
y = 3

if x == y:
  print('x and y are equal')
elif x <y:
  print('x is smaller')
else:
  print('y is smaller')

y is smaller

In [ ]:
num =(input("enter a number:"))

if (num.isdigit()):
  num = int(num)
  if num % 2 == 0:
     print("the number is even")
  else:
     print("the number is odd")
else:
  print("the number is not valid")

enter a number:5
the number is odd

In [ ]:
is_single = True

message = "You can date." if is_single else "You cannot date"

print(message)

You can date.

In [ ]:
x = float(input("Enter a number for x:"))
y = float(input("Enter a number for y:"))

if x==y:
  print("x and y are equal")
  if y!=0:
    print("therefore, x/y is",x/y)
elif x<y:
  print("x is smaller")
else:
  print("y is smaller")

Enter a number for x:9
Enter a number for y:8
y is smaller

In [ ]:
n=0
while n<5:
  print(n)
  n+=1

0
1
2
3
4

In [ ]:
n=0
while n<5:
  print(n)
  n+=1
else:
  print("n is not less than 5 anymore")

0
1
2
3
4
n is not less than 5 anymore

In [ ]:
n=4
while n<101:
  print(n)
  n+=1

4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
for n in range(5):
  print(n)

0
1
2
3
4

In [ ]:
for n in range(2,6):
  print(n)

2
3
4
5

In [ ]:
for x in range(2,30,3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [ ]:
text = 'TECH I.S.'
for letter in text:
  print(letter)

T
E
C
H

I
.
S
.

In [ ]:
fruits_list = ['apple','banana','cherry']

for fruits in fruits_list:
  print(fruits)

apple
banana
cherry

In [ ]:
animals_list = "dog","cat", "element","otter"
print(type(animals_list))
for animal in animals_list:
  print(animal)

<class 'tuple'>
dog
cat
element
otter

In [ ]:
translations = {'a':1,'b':2,'c':3}

for entry in translations:
  print(entry)
for entry in translations.values():
  print(entry)

a
b
c
1
2
3

In [ ]:
n=5
for i in range(1,n+1):
  print(" ",end='')
  for j in range(1,i+1):

    print(j,end="")

 1 12 123 1234 12345

In [ ]:
powers = [num **2 for num in range(10)]
print(powers)
print(type(powers))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
<class 'list'>

when a for loop is used in round brackets with a function it becomes a generator object. tuple is also created with round brackets but since it is immutable it can not be used with a function.

In [ ]:
powers = (num**2 for num in range(10))
print(type(powers))

print(next(powers))
print(next(powers))
print(next(powers))

<class 'generator'>
0
1
4

In [ ]:
adjectives = ["juicy", "big", "tasty"]
fruits = ["apple","banana","cherry"]

for fruit in fruits:
  for adjective in adjectives:
    print(adjective, fruit)

juicy apple
big apple
tasty apple
juicy banana
big banana
tasty banana
juicy cherry
big cherry
tasty cherry

In [ ]:
n=0
while n < 6:
  n+=1

  if n==3: #this condition here stops the program to print 3 and continue to the next one

    continue
  print(n)

1
2
4
5
6

In [ ]:
fruits = ["apple","banana","cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [ ]:
try:
  print(x_val)
except:
  print("An eception has occured here")

print(x_val)

An eception has occured here

NameError: ignored

In [ ]:
try:

  print(x_val)
except NameError: # only built in errors are mentioned here
  print("x_val is not defined for sure")
except: # This is the default one which will run only when other exception are missed
  print("something else went wrong")

NameError: ignored

In [ ]:
try:
  print(xx)
except:
  print("Something went wrong")

finally:
  print("The 'try except' is finished!")

Something went wrong
The 'try except' is finished!

In [ ]:
try:
  f=open("")
  f.write("text to write")
except:
  print("Something went wrong when writing to file")
finally:
  f.close()

Something went wrong when writing to file

In [ ]:
x=-1

if x < 0:
  raise Exception("Sorry, number below zero!")

Exception: ignored

In [ ]:
x="hello"

if not type(x) is int:
  raise TypeError("Only integers are allowed")

TypeError: ignored

Exercise 5

In [ ]:
name = input("Enter your name:")
for i in name:
  if i.isdigit():
    raise Exception("Type in your name properly!")

Enter your name:asdfhganm,.;/

In [ ]:
def is_even(num):
  return num % 2 == 0
print(is_even(55))

print(is_even(100))

False
True

In [ ]:
def area_c(r):
  return (3.14*(r**2))

print(area_c(4))

50.24

In [ ]:
def simple_i(principle,rate,year):
  return (principle * rate * year)/100

print(simple_i(4500,3.2,1.5))

216.0

In [ ]:
def myfunc():
  inside_variable = 300
  print(inside_variable)

myfunc()

print(insdie_variable) #this variable is inside the function

300

NameError: ignored

In [ ]:
def myfunc():
  inside_variable = 300   #2

  def myinnerfunc():
    print(inside_variable)  #4
  myinnerfunc()    #3

myfunc()           #1

print(inside_variable)  #5             order of execution

300

NameError: ignored

In [ ]:
outer_variable = 300
def myfunc():
  print(outer_variable)
myfunc()

print(outer_variable)

300
300

In [ ]:
def myfunc():
  global global_variable
  global_variable = 300
  print("called inside my func",global_variable)

myfunc()

print("called outside",global_variable)

called inside my func 300
called outside 300

In [ ]:
plus_ten = lambda x:x+10
print(plus_ten(5))

15

In [ ]:
multiply = lambda y,z:y*z
print(multiply(4,2))

8

In [ ]:
def compound_interest(principle, rate, time):

    # Calculates compound interest
    Amount = principle * (pow((1 + rate / 100), time))
    CI = Amount - principle
    print("Compound interest is", CI)

# Driver Code
compound_interest(10000, 10.25, 5)

Compound interest is 6288.946267774416