In [ ]:
name_one = 'TECH I.S.'
print(name_one)

TECH I.S.

In [ ]:
name_two = "TECH I.S."
print(name_two)

TECH I.S.

In [ ]:
name_three = ''' This is a long string and supports
multiline statements as well'''
print (name_three)

 This is a long string and supports
multiline statements as well

In [ ]:
name_four = 'Hello, "TECH I.S. Student"'
print (name_four)

Hello, "TECH I.S. Student"

In [ ]:
name_five = "Hi, 'Single quote string here'"
print (name_five)

Hi, 'Single quote string here'

In [ ]:
first_name1 = "Krishna"
last_name = "Shankar"
print(first_name1,last_name)

Krishna Shankar

In [ ]:
# s = "hello"

# s[0]= 'y'

TypeError: ignored

In [ ]:
s = 'y' + s[1:len(s)]
print(s)

yello

In [ ]:
s = s[:]+'w'
print(s)

yellow

In [ ]:
first_name = "TECH"
second_name = "I.S."
full_name = first_name + ' '+second_name
print(full_name)

TECH I.S.

In [ ]:
name = 'Hayato'
print(name)
name_thrice = name *3
print(name_thrice)
print(name *4)
print (name *10)

Hayato
HayatoHayatoHayato
HayatoHayatoHayatoHayato
HayatoHayatoHayatoHayatoHayatoHayatoHayatoHayatoHayatoHayato

In [ ]:
first_name = "Krishna "
print(first_name*6)

Krishna Krishna Krishna Krishna Krishna Krishna

In [ ]:
s = "abc"

print(s[0])
print(s[1])
print(s[2])

print(s[-1])
print(s[-2])
print(s[-3])

print(s[3])#since there is no element at index 3

a
b
c
c
b
a

IndexError: ignored

Exercise 5 or 6

In [ ]:
string1 = "This is one sentence!"
print(string1[8])
print(string1[8:11])
list2 = list(string1)
print(list2)
list2.append("Almonds")
print(list2)
list2.remove('Almonds')
print(list2)

o
one
['T', 'h', 'i', 's', ' ', 'i', 's', ' ', 'o', 'n', 'e', ' ', 's', 'e', 'n', 't', 'e', 'n', 'c', 'e', '!']
['T', 'h', 'i', 's', ' ', 'i', 's', ' ', 'o', 'n', 'e', ' ', 's', 'e', 'n', 't', 'e', 'n', 'c', 'e', '!', 'Almonds']
['T', 'h', 'i', 's', ' ', 'i', 's', ' ', 'o', 'n', 'e', ' ', 's', 'e', 'n', 't', 'e', 'n', 'c', 'e', '!']

In [ ]:
s= 'abcdefgh'
print(s[3:6])
print(s[3:6:1])
print(s[3:6:2])
print(s[::])
print(s[::-1])
print(s[4:0:-3])

def
def
df
abcdefgh
hgfedcba
eb

**Lists**

In [ ]:
new_list = [3,7,20,'@','TECH I.S.','makes learning fun!']

# print(new_list)
# print(new_list[0])
# print(new_list[2])
# print(new_list[3])
# print(new_list[4])

print(new_list[-1])
print(new_list[-2])
print(new_list[-3])

makes learning fun!
TECH I.S.
@

In [ ]:
grocery = ['Milk','Banana','eggs','sugar']
print(grocery)
print(grocery[1])
grocery.pop(2)
print(grocery)

['Milk', 'Banana', 'eggs', 'sugar']
Banana
['Milk', 'Banana', 'sugar']

In [ ]:
nested_list = [[1,2,3],['a','b','c'],[True,False,7]]
print(nested_list)

[[1, 2, 3], ['a', 'b', 'c'], [True, False, 7]]

In [ ]:
mylist = [['tiger','elephant','cow','dog'],['blue','black','red'],['gasoline','island']]
print(mylist)

[['tiger', 'elephant', 'cow', 'dog'], ['blue', 'black', 'red'], ['gasoline', 'island']]

In [ ]:
new_list1 = [3,7,20,'@','TECH I.S.','makes learning fun!']
print(new_list1)
new_list1[2]='one'
print(new_list1)
new_list1.append('wohoo!')
print(new_list1)
new_list1.extend(["let's","do","this"])
print(new_list1)
new_list1.remove(7)

print(new_list1)

[3, 7, 20, '@', 'TECH I.S.', 'makes learning fun!']
[3, 7, 'one', '@', 'TECH I.S.', 'makes learning fun!']
[3, 7, 'one', '@', 'TECH I.S.', 'makes learning fun!', 'wohoo!']
[3, 7, 'one', '@', 'TECH I.S.', 'makes learning fun!', 'wohoo!', "let's", 'do', 'this']
[3, 'one', '@', 'TECH I.S.', 'makes learning fun!', 'wohoo!', "let's", 'do', 'this']

Here in append function we put only the value.
In extend function, we use list to add multiple values.

In [ ]:
new_list = [3,7,20,'@','TECH I.S.', 'makes learning fun!']
print(new_list)
new_list.pop(2)
print(new_list)

[3, 7, 20, '@', 'TECH I.S.', 'makes learning fun!']
[3, 7, '@', 'TECH I.S.', 'makes learning fun!']

In [ ]:
new_list = [3,7,20,'@','TECH I.S.','makes learning fun!']

print(new_list[:4])
print(new_list[2:])
print(new_list[1:5])
print(new_list[:])

[3, 7, 20, '@']
[20, '@', 'TECH I.S.', 'makes learning fun!']
[7, 20, '@', 'TECH I.S.']
[3, 7, 20, '@', 'TECH I.S.', 'makes learning fun!']

Reversing a list

In [ ]:
new_list = [3,7,20,'@','TECH I.S.','makes learning fun!']

print(new_list[::-1])
print(new_list)

new_list.reverse()
print(new_list)

['makes learning fun!', 'TECH I.S.', '@', 20, 7, 3]
[3, 7, 20, '@', 'TECH I.S.', 'makes learning fun!']
['makes learning fun!', 'TECH I.S.', '@', 20, 7, 3]

In [ ]:
new_list = [3,7,20,'@','TECH I.S.','makes learning fun!']
len(new_list)

6

In [ ]:
new_list = [3,7,20,'@','TECH I.S.','makes learning fun!']
print(new_list *3)

[3, 7, 20, '@', 'TECH I.S.', 'makes learning fun!', 3, 7, 20, '@', 'TECH I.S.', 'makes learning fun!', 3, 7, 20, '@', 'TECH I.S.', 'makes learning fun!']

In [ ]:
list1 = [8,12,43,222,52,24,12]
list2 = ['apple','banana','pears','z']


print(min(list1))
print(max(list1))
print(min(list2))
print(max(list2))
print(len(list1))
print(list1.count(12))

8
222
apple
z
7
2

In [ ]:
new_list = [3,7,20,'@','TECH I.S.','makes learning fun!']

print(new_list.index('TECH I.S.')) #show index of the value

# print(new_list.index('@',4,5))      here @ is not in the range of 4 to 5 so its showing error
print(new_list.index('@',1,4))

4
3

In [ ]:
new_list = [4,2,6,5,0,1]

print(new_list)

new_list.sort()

print(new_list)

# my_tuple = (3,1,5,7,2,0)
# print(my_tuple)

# my_tuple.sort()
# print(my_tuple)

[4, 2, 6, 5, 0, 1]
[0, 1, 2, 4, 5, 6]
(3, 1, 5, 7, 2, 0)

AttributeError: ignored

here only list can be sorted because they are mutable but not tuple. Dictionary is unordered so it doesn't matter.

In [ ]:
new_list = [4,2,6,5,0,1]

print(new_list)

new_sorted_list = sorted(new_list)

print(new_sorted_list)

[4, 2, 6, 5, 0, 1]
[0, 1, 2, 4, 5, 6]

In [ ]:
new_list = [4,2,6,5,0,1]

print(new_list)

new_list.clear() #erasing list contents

print(new_list)

[4, 2, 6, 5, 0, 1]
[]

In [ ]:
new_tuple_one = 1,2,3,4

print(new_tuple_one)

new_tuple_two = (5,6, "python",8)

print(new_tuple_two)

new_tuple =()

print(new_tuple)

new_tuple_three = tuple(('apple',"banana","cherry"))  #doubt
print(new_tuple_three)

new_tuple_wrong = ("apple")
print(type(new_tuple_wrong))
print(new_tuple_wrong)


new_tuple_right = ("apple",)
print(type(new_tuple_right))
print(new_tuple_right)

my_tuple = "hey"  # this is a string
print(type(my_tuple))
my_tuple_1 = "hey","hi" #this is a tuple
print(type(my_tuple_1))

(1, 2, 3, 4)
(5, 6, 'python', 8)
()
('apple', 'banana', 'cherry')
<class 'str'>
apple
<class 'tuple'>
('apple',)
<class 'str'>
<class 'tuple'>

In [ ]:
new_tuple = "apple","orange","bannana","berry","mango"

print(new_tuple[0])
print(new_tuple[4])

print(new_tuple[-1])
print(new_tuple[-4])
print(new_tuple[-5])

apple
mango
mango
orange
apple

In [ ]:
# define two new tuple
new_tuple_one = 9,5,6,4,2,1
new_tuple_two = 'a',5,7,6,3,1

print(new_tuple_one)
print(new_tuple_two)

# add a new element
merged_tuple = new_tuple_one + new_tuple_two

# check merged tuple
print(merged_tuple)

(9, 5, 6, 4, 2, 1)
('a', 5, 7, 6, 3, 1)
(9, 5, 6, 4, 2, 1, 'a', 5, 7, 6, 3, 1)

In [ ]:
new_tuple = 'a',5,6,7,6,3,1

len(new_tuple)

7

In [ ]:
new_tuple = 8,12,7,10,52,33,21,99

print(min(new_tuple))
print(max(new_tuple))
print(new_tuple.count(3))
print(new_tuple.count(8))

print(new_tuple.index(99))

7
99
0
1
7

In [ ]:
new_tuple = 5,3,6,3,1,3,2,3

print(new_tuple)

del(new_tuple)

# print(new_tuple)

list1 = [1,23,4,4]
print(list1)
# del(list1)          del can also be used for list
print(list1)

(5, 3, 6, 3, 1, 3, 2, 3)
[1, 23, 4, 4]
[1, 23, 4, 4]

In [ ]:
x= ["apple", "banana" ]
y= ["apple", "banana"]
z=x

print(x is z)
print( x is y)
print(x == y)
print (x is not y)


print("banana" in x)
print("pineapple" in x)
print("pineapple" not in x)

True
False
True
True
True
False
True